@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/
.banner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: absolute;
}

.wrapper {
  width: 60%;
  position: relative;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider li {
  display: none;
}

.slider li.active {
  display: flex;
  animation: fade .5s ease forwards;
}

.slider li img {
  width: 100%;
}

.slider-dots {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slider-dots a {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fffff000;
  font-size: 5px;
}

.slider-dots li a.active::after {
  background: #000;
}

.slider-dots a::after {
  content: '\f1ce';
  border-radius: 50%;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free';
}

.slider-dots a:hover::after {
  color: #000;
  background: #000;
}

.prev,
.next {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  color: transparent;
  z-index: 9;
}

.prev::before {
  content: '\f053';
  position: absolute;
  left: 20px;
  color: #fff;
  font-size: 46px;
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  visibility: visible;
}

.next::before {
  content: '\f054';
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 46px;
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  visibility: visible;
}

.prev:hover::before,
.next:hover::before {
  color: #666;
  transition: .5s ease;
}

.prev { left: 0; }
.next { right: 0; }

/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}

@keyframes fade { to { opacity: 1; } }